[2015-07-22 08:53] leotu opened #6 "ZookeeperClusterManager constructor NPE"
conf.load(is)  when conf is null value.
Maybe missing code "conf = new Properties()"  in if (conf == null) { ... } code block.

------------- Code ----
public ZookeeperClusterManager() {
    if (conf == null) {
      InputStream is = getConfigStream();
      try {
        conf.load(is);
      } catch (IOException e) {
        log.error("Failed to load zookeeper config", e);
      }
    }
  }

[2015-10-14 17:24] mpeddagolla opened #10 "vertx always sends messages to one node even if there are multiple nodes connected in the cluster"
Hi , below is my scenario.

I am using vertx with 3 nodes using zookeeper as its cluster manager. I have one zookeeper server running locally and all three 3 nodes (clients) connecting to it. But vertx always selects the recently joined node in the cluster for sending messages instead of sending messages round robin to all the clients connected. I am using SEND and not PUBLISH because I always wan

[2015-10-27 09:18] stream1984 commented on #10
Ops.
There is mistake indeed. i will try to make PR for this.
Thank your report

[2015-10-27 18:21] mpeddagolla commented on #10
thank you.

[2016-02-03 15:44] srdoshi opened #14 "cleanup of data from zookeeper server incase of vertx server crash"
I have vertx.io 3.1.0 server which does clustering using vertx-zookeeper (3.0.0 ) . The zookeeper server is on 3.4.6.

My ui app uses vertxbus.js client to talk to vertx.io server and registers for various addresses. These addresses get saved in zookeeper under /subs path

e.g if the ui ( browser ) opens a socket and registers to listen to address test101 the path on zookeeper is /asyncMultiMap/su

[2016-02-03 15:51] srdoshi opened #15 "perfomance of syncing with zookeeper"
I have vertx.io 3.1.0 server which does clustering using vertx-zookeeper (3.0.0 ) . The zookeeper server is on 3.4.6.

My ui app uses vertxbus.js client to talk to vertx.io server and registers for various addresses. These addresses get saved in zookeeper. When I looked at the traffic between vertx and zookeeper

I got events on vertx server from zookeeper stating that /subs has changed.
1. first

[2016-03-11 02:51] stream1984 commented on #14
Vertx will keep a session with ZK, if you kill vertx and then immediately start it again, then `test101` will be still there. you can change the session timeout in here https://github.com/vert-x3/vertx-zookeeper/blob/master/src/main/resources/default-zookeeper.properties#L6

[2016-03-11 02:54] stream1984 commented on #15
ZK is high performance, you can get more information from https://zookeeper.apache.org/doc/trunk/zookeeperOver.html#Performance

[2016-03-20 11:12] teivah opened #17 "Round robin with EventBus"
Hello,

Thanks for this implementation, this is really useful.

I just wanted to raise the fact that the round robin publication from the EventBus does not seem to be managed. Indeed, the ZKAsyncMultiMap.get() method create a new ChoosableSet each time. It means the ChoosableSet.choose() method returns always the same element.

It might be great to implement a round-robin strategy (by caching the

[2016-03-22 04:01] xingxuan opened #18 "EVENTBUS_PATH"
Hello,
   the SUBS_MAP_NAME of the ClusteredEventBus on version 3.2.0 is "__vertx.subs", so  the param EVENTBUS_PATH of the ZKMap values should be  "/" + ZK_PATH_ASYNC_MULTI_MAP + "/__vertx.subs/"

[2016-04-14 00:33] cinterloper opened #19 "High load at idle?"
when running log4j in debug mode; and Zookeeper running in the same JVM as vertx
 i get an absurdly fast stream of the following message:

2016-04-13 17:30:52,061 - DEBUG [SyncThread:0:FinalRequestProcessor@160] - sessionid:0x154122d2de10000 type:exists cxid:0xfd98 zxid:0xfffffffffffffffe txntype:unknown reqpath:/io.vertx/asyncMultiMap/__vertx.subs
2016-04-13 17:30:52,061 - DEBUG [SyncThread:0:Fin

[2016-04-18 06:01] stream1984 commented on #18
This issue has been fix in down stream, i will update upstream before vertx 3.3.0 release.

[2016-04-18 06:59] stream1984 commented on #17
Looks like #10
I will do my best to make vertx-zookeeper work fine before vert.x 3.3.0 release

[2016-04-18 17:24] teivah commented on #17
Oh sorry you're right, this is the same issue.
Thanks for the support.

[2016-04-18 17:24] #17 closed

[2016-04-18 17:26] teivah commented on #17
Duplicate of #10

[2016-04-28 19:40] cinterloper commented on #19
this also happens with zookeeper in a different jvm

[2016-05-25 07:06] #6 closed

[2016-05-25 07:06] #10 closed

[2016-05-25 07:06] #18 closed

[2016-05-25 07:07] #14 closed

[2016-06-07 08:41] xingxuan opened #21 "declare a static final serialVersionUID on KeyValue"
When I repack vertx-zookeeper or use the source code to debug,alaways Unable to deserialization the old KeyValue object in clusterMap.

[2016-06-27 04:23] stream1984 commented on #21
Hi
Could you elaborate it? It's great if there is case which could be test :)

[2016-09-14 08:30] cescoffier opened #30 "Allow settings the Zookeeper host using env variables or system properties"
I'm in an environment where I can't know the IP of the Zookeeper servers in advance. However, the IPs are injected into my environment using an environment variables.

It would be very useful to be able to override the configuration of the Zookeeper hosts using either system property or an env variable. Something like: `-Dvertx.zookeeper.hosts`. I would prefer the system property approach that is

[2016-09-14 14:10] #30 closed

[2016-09-26 15:10] tsegismont opened #33 "Lock is not released when node goes down"
Following up on eclipse/vert.x#1609, I have tried to apply the new lock tests, which verify that a lock is released when the holding node is killed or goes down.

It seems the current implementation does not support this. Is it because Zookeeper locks are valid for a whole JVM?

[2016-11-03 08:27] stream1984 commented on #33
fix by #36

[2016-11-03 08:27] #33 closed

[2016-12-29 05:28] stream1984 commented on #21
fix by [#39]

[2016-12-29 05:28] #21 closed

[2017-01-11 08:49] FattigerTao opened #40 "How to Config many zk address?"
If I have 3 zk virtual machine and how to config zk address? example 192.168.1.1 192.168.1.2 192.168.1.3

[2017-01-20 02:01] stream1984 commented on #40
There is zookeeper.json in your vert.x project, you can add zookeeper hosts in this config file.
[example](https://github.com/vert-x3/vertx-zookeeper/blob/master/src/test/resources/zookeeper.json)

[2017-03-21 10:32] tsegismont opened #47 "io.vertx.test.core.ZKClusteredEventbusTest#sendNoContext fails consistently"
See https://vertx.ci.cloudbees.com/job/vert.x3-zookeeper/452/testReport/

For now I marked the test as ignored.

[2017-03-23 13:32] cescoffier opened #49 "Can't store Buffer in shared data"
It's not possible to store Buffer in the shared data at the moment:

[code]

`BufferImpl` has no public constructor, meaning that to create a new instance you must call `setAccessible(true)`.

[2017-03-27 07:33] stream1984 commented on #49
OK, i will fix it up.

[2017-03-27 07:34] stream1984 commented on #47
I have remove ignored annotation, thanks.

[2017-03-27 07:34] #47 closed

[2017-03-30 06:24] stream1984 commented on #49
close by [PR](https://github.com/vert-x3/vertx-zookeeper/pull/50)

[2017-03-30 06:24] #49 closed

[2017-05-16 04:08] dinstone commented on #40
example:
{
  "zookeeperHosts":"192.168.1.1:2181, 192.168.1.2:2181, 192.168.1.3:2181",
  "sessionTimeout":5000,
  "connectTimeout":3000,
  "rootPath":"io.vertx",
  "retry": {
    "initialSleepTime":100,
    "intervalTimes":10000,
    "maxTimes":5
  }
}

[2017-05-16 04:15] FattigerTao commented on #40
thanks all.

[2017-05-19 16:37] jaceksokol opened #55 "HA is not working with ZooKeeper"
It looks like `clusterMap` in `HAManager` is not correctly populated with deployed HA verticles, thus when a nodes with a verticle deploy to be HA the verticle is not restored on any other node.

[2017-05-25 06:24] stream1984 commented on #55
That would be nice if you can provide some reproduce or some step to make it again in my local.

[2017-07-20 13:11] nabhosal opened #57 "Passing user defined Node id through cmd"
Hi,
We are deploying multiple vertx vertical using zookeeper cluster manager.... on zookeeper servers we need to track each vertical....but zookeeper assign some random UUID to each vertical. So mapping each vertical on zookeeper become difficult. It will be better if we can pass node id through cmd

[2017-07-21 02:46] stream1984 commented on #57
Does other vertx's cluster implementation provide such way? As i know the interface of vertx doesn't provide such method.
by the way you can get a verticle's deploymentID with callback handler in method `vertx.deploy`
[code]

[2017-07-21 05:24] nabhosal commented on #57
Unfortunately, zookeeper don't use deployment id to map node id in any cluster. So we don't know which deployment id map to corresponding zookeeper node id on zookeeper servers.

[2017-07-25 19:59] MarWestermann opened #58 "EOFException on readBoolean"
Hi,
I deployed two vertx applications to openshift clustered by zookeeper.
In both instances I get a lot of exceptions like:

`

[Curator-TreeCache-0] ERROR org.apache.curator.framework.recipes.cache.TreeCache -
--
  | java.io.EOFException
  | at java.io.DataInputStream.readBoolean(DataInputStream.java:244)
  | at io.vertx.spi.cluster.zookeeper.impl.ZKMap.asObject(ZKMap.java:110)
  | at io.vertx.s

[2017-07-25 20:08] MarWestermann opened #59 "cluster breaks using zookeeper"
Hi,
I have two containers on openshift running vert.x clustered by zookeeper ( Frontend and Backend ). The frontend calls the backend over the eventbus. Everything is working as long as I first start the Backend (which listens on the eventbus) before I start the frontend (which sends to the eventbus). When I restart the backend pod the frontend is not working any more. But there is not an exceptio

[2017-07-26 04:23] takeseem opened #60 "nodeID cann't config when use Json"
in join method `nodeID = UUID.randomUUID().toString()`, i think it is better in the conscutor.
Example:
[code]
[ZookeeperClusterManager.nodeId](https://github.com/vert-x3/vertx-zookeeper/blob/master/src/main/java/io/vertx/spi/cluster/zookeeper/ZookeeperClusterManager.java#L318)

[2017-07-26 04:32] takeseem commented on #60
my mind is:
nodeID: include my application id, ip and pid.
or
nodeData: will be set zookeeper node data path /io.vertx/cluster/nodes/mynode-uuid

when I monitor zookeeper, I can fast found my application by node's name or node's data

[code]

[2017-07-26 08:22] takeseem commented on #40
@FattigerTao please close this issuse

[2017-07-26 08:26] takeseem commented on #57
my idea is #60

[2017-07-26 08:31] takeseem opened #61 "all nodes node del in zookeeper when reconnected zookeeper"
when zookeeper session timeout, the node in the zookeeper all del.
when my node reconnected, it's not create the node in the zookeeper: /io.vertx/cluster/nodes

[code]

[2017-07-26 09:55] nabhosal commented on #60
Hi @takeseem,
I resolved my issue by creating CustomZookeeperClusterManagerManger by extending ZookeeperClusterManagerManger class, it relies on unique node id passed from command line... I have attached   [code](https://github.com/vert-x3/vertx-zookeeper/files/1176162/zookeeper.tar.gz) for you.

cmd options
-Dvertx.cluster.managerClass=<package path>.CustomZookeeperClusterManager
-Dvertx.zookeepe

[2017-07-26 10:09] nabhosal commented on #57
I have fixes for above requirement, which we tested and deployed in our production setup...I would like to push those changes.... can someone help me on this...

[2017-07-26 10:30] #40 closed

[2017-07-28 06:32] stream1984 commented on #61
Hi
The node type of `/io.vertx/cluster/nodes` is `EPHEMERAL`.

[2017-07-28 06:41] stream1984 commented on #60
nodeID be managed by vertx-zk-cluster, it can not be passed with `config`. I am not sure it's good idea that assign nodeID with user.

[2017-09-30 09:23] SgrAlpha commented on #55
Same issue here, I've created a repo to reproduce it, https://github.com/SgrAlpha/vertx-zookeeper-failure, it's a very simple one, let me know if I didn't do it in the right way, thx.

[2017-10-03 06:59] stream1984 commented on #55
I would spend some time to look into it after my holiday

[2017-11-08 03:00] mscofy opened #63 "Vertx zookeeper error"
I am using vertx with zookeeper as my cluster manager. Suddenly I started getting this excpetion in my logs:

   ERROR io.vertx.spi.cluster.zookeeper.ZookeeperClusterManager - Failed to handle memberRemoved
io.vertx.core.VertxException: java.io.InvalidClassException: io.vertx.spi.cluster.zookeeper.impl.ZKSyncMap$KeyValue; local class incompatible: stream classdesc serialVersionUID = -4724870547734

[2017-11-09 05:46] stream1984 commented on #63
Hi
Do you upgrade vert.x from old version to the latest?
which version of vert.x your running.

Thanks.

[2017-11-09 06:37] mscofy commented on #63
Yes,i upgrade vext.x from 3.4.2 to 3.5.0. Now i'm running version 3.5.0

[2017-11-09 10:40] stream1984 commented on #63
We using Java serialization to save object into the zk, this issue would be happen if there are multi version vertx-zookeeper in one cluster, you have to restart all the verticle with latest version of vertx-zookeeper.
I hope could refactor this method in the next release.

[2018-01-11 17:27] tsegismont opened #64 "AsyncMap timeout not cleared if put is invoked"
See io.vertx.test.core.AsyncMapTest#testMapPutTtlThenPut:

[code]

This test fails with Zookeeper so for now it's ignored in this CM.

[2018-01-12 14:33] tsegismont opened #65 "ZKClusteredSessionHandlerTest#testRetryTimeout does not work"
All clustered session tests but this one work

[2018-01-28 14:56] rshensy commented on #55
Any update about this ticket? I am waiting for a deployment using ZooKeeper.

[2018-01-29 10:58] vietj commented on #55
@stream1984 can you have a look please ?

[2018-01-29 10:58] vietj commented on #55
@tsegismont can you investigate eventually ?

[2018-05-09 19:53] rtotaro opened #66 "io.vertx.servicediscovery.Record is saved with java serialization"
Record object used by Vertx service discovery is converted into a JsonObject and then in a String before saving it in zookeeper but it is saved as a java serialized object and not as a simple string.
(see io.vertx.spi.cluster.zookeeper.impl.ZKMap#asByte)

This behaviour does not allow reading  information about registered services on zookeeper by not java software.
Is it right?
Can you suggest me

[2018-05-23 21:13] #66 closed

[2018-05-23 21:17] rtotaro commented on #66
I found a solution. It is possible to do that using zookeeper as service discovery backend explicitly as in the following:
`
ServiceDiscoveryOptions serviceDiscoveryOptions = new ServiceDiscoveryOptions();
serviceDiscoveryOptions.setBackendConfiguration(new JsonObject()
                `.put("backend-name","io.vertx.servicediscovery.backend.zookeeper.ZookeeperBackendService")`
                .put

[2018-05-29 20:20] neterium opened #67 "Zookeeper exception when closing Vertx"
I'm using Vertx 3.5.1 with:
- A zookeeper cluster manager
- A zookeeper service discover (using the same zk cluster)

At startup, I'm auto registering to ZK, and I've also added a shutdown hook to properly unregister before closing vertx with vertx.close().

However, in the console, I have the following exceptions:

[code]
Please note that :
- I did not have that issue when using Hazelcast as clus

[2018-07-14 15:42] jg513 commented on #58
I got the exception too, how to solve it?

[2018-07-16 03:08] jg513 commented on #58
A) not throw the exception:
[code]

B) throw the exception:
[code]

B will create a node `1` under `consumer`, and the data is a byte array of zero length.

[2018-07-23 03:24] lihui920913 opened #69 "event bus registrations cleared when new zookeeper session is build"
It is noticed that event bus address snapshot are only restored when session is reconnected. That means, when a session lost after retrying several times dual to its retry policy, then, next time the client connected successfully,  a new session is build and all event bus registrations are lost. Am i assuming correctly ? if so, is that reasonable ?

[2018-09-07 07:56] zhou-hao opened #70 "Zookeeper NullPointerException"
https://github.com/vert-x3/vertx-zookeeper/blob/26ba3660a64c1e7f65569abfb3b7f8f5773620a0/src/main/java/io/vertx/spi/cluster/zookeeper/impl/ZKAsyncMultiMap.java#L89

![image](https://user-images.githubusercontent.com/7791838/45206028-8df16680-b2b6-11e8-910c-613258748700.png)

[2018-10-30 07:46] romalev commented on #55
Just off top of my head - ZKSyncMap creates only ephemeral entries (ZKSyncMap holds HA information about vertices) which means its entries get deleted upon node's disconnect.

`//sync map's node mode should be EPHEMERAL, as lifecycle of this path as long as verticle's.
  curator.create().creatingParentsIfNeeded().withMode(CreateMode.EPHEMERAL).forPath(keyPath, valueBytes);`

Now imagine we have tw

[2018-10-31 08:02] stream1984 commented on #55
emm.
I would fix this in this week, i found that is about syncMap.

[2018-10-31 09:56] stream1984 commented on #55
Sorry for so long to fix this bug.
The change is a little, i have merge it to master, you can get diff from [here]
(https://github.com/vert-x3/vertx-zookeeper/commit/0b1762d92425e965c8962ab9c931478fc5efe256)

[2018-10-31 09:58] romalev commented on #55
@stream1984 - thanks!

[2018-10-31 13:30] romalev commented on #55
@stream1984 - there's one thing that bothers me in your fix so please correct if I am wrong. In production we always tend to have nodes running which means:

`if (clusterNodes.getCurrentData().size() == 0) {
      getSyncMap("__vertx.haInfo").clear();
}`

this can get very rarely executed (say if once per year) so ZK instance can potentially bump into out-of-memory, can't it ? Since now HA-info en

[2018-11-01 06:52] stream1984 commented on #70
More detail is welcome.

[2018-11-30 14:33] gkozyryatskyy opened #72 "ClusteredEventBus with ZookeeperClusterManager loosing the messages when one of the nodes is leaving the cluster"
Hello guys! (This issue is copy of https://github.com/eclipse-vertx/vert.x/issues/2738)

It seems like vertx cluster event bus (zookeeper implementation) loosing some messages when some of the nodes leaving the cluster. This can be related to https://github.com/eclipse-vertx/vert.x/pull/1594 or https://github.com/vert-x3/vertx-hazelcast/issues/13 issues.
Theoretically, it is still sending the mess

[2018-11-30 17:11] stream1984 commented on #72
Hi.
There are some delay while deleting address of event in zk cluster, we leave such data deleting automaticlly when vertx node have been closed, but i will try to make some fix to remove address data as quick as possible while closing node of vertx.

[2018-11-30 18:48] gkozyryatskyy commented on #72
@gkozyryatskyy
Thank you for fast reply!

If it is possible to wait somehow, while address will be deleted it should fix the issue.

Or remove all addresses before closing all versicle, for not to wait multiple times on each address to be deleted (in case you have a lot of registered addresses).

[2018-12-01 04:47] stream1984 commented on #72
I would say that you can not expect deleted address of eventbus with vertx.close() synchronously.
ClusterManager can not invoke eventBus directly and should not be, we can not let lower layer logic dependecy high layer logic.

I try to improve codes of address be deleted  as quick as possible meaning that cache of address will be deleted while a node of vertx exit cluster.

Message of eventBus in

[2018-12-01 08:10] tsegismont commented on #72
@stream1984 is right. You should think about the eventbus as a more flexible HTTP, not a messaging system with strong guarantees. If you need such guarantees in you project, use a messaging system, Vert.x has clients for these (AMQP, Stomp).

[2018-12-04 06:53] yaoligang opened #73 "KeeperErrorCode = NoNode issue after upgrading to 3.6.0"
I have upgraded vertx-zookeeper from 3.5.4 to 3.6.0 and found the following issue if it is connected to a clean Zookeeper server. If the zookeeper server been used before, this issue will not be reported.

[code]

[2018-12-04 07:46] vietj commented on #73
@tsegismont I think it's related to the fixes we made for clustering

[2018-12-04 07:54] yaoligang commented on #73
It can be solved by manually create "/io.vertx/syncMap/__vertx.haInfo" node in the zookeeper server before connecting with vertx-zookeeper.

[2018-12-05 16:28] vietj opened #74 "Travis CI job"
we need a Travis CI job for Zookeeper

[2018-12-14 06:05] #73 closed

[2018-12-28 01:00] aruis commented on #63
I also encountered this problem. And I also used a different version of vertx-zookeeper. Now I try to upgrade to the latest version of vertx-zookeeper, and I will give feedback after the results.

[2019-01-15 06:21] ifrozenice opened #76 "zookeeper cluster error:java.io.IOException: Packet len4194475 is out of range"
when i use zookeeper cluster,i got the error:  java.io.IOException: Packet len4194475 is out of range
![image](https://user-images.githubusercontent.com/13465013/51162189-44ea9800-18d0-11e9-8d15-c3375f60aadd.png)

why asyncMultiMap node has so many  sub nodes？ZK node default max size is 4M，asyncMultiMap  node was larger than 4M.
![image](https://user-images.githubusercontent.com/13465013/51162063-

[2019-01-15 09:42] stream1984 commented on #76
Hi
the nodes under `__vertx.subs` is the addresses of eventBus , so the more eventBus the more address in this node.

this error is make by zk, how many children node in __vertx.subs?
how does you using eventBus and websocket?

You can also set system properties of zookeeper by `System.setProperty("jute.maxbuffer", 4096 * 1024 * 10 + "");` 40MB to avoid such error, i prefer  to decrease the number

[2019-01-17 06:15] ifrozenice commented on #76
@stream1984
Thank you for reply!
I used  [SockJS event bus bridge](https://vertx.io/docs/vertx-web/java/#_sockjs_event_bus_bridge)to do a chat-like function.
Each user will create a websocket and an eventbus consumer. If the amount of users is large, the size of the node exceeds the limit of zk.
If the size of the node is set to 40MB, will the message transmission of the websocket have performance

[2019-01-29 16:05] stream1984 commented on #76
Hi
This looked like you make one user with one eventBus, that is not good way to using sockJS with event bus bridge. You have to maintain all user with one eventBus.

[2019-05-15 09:27] hedyn opened #80 "ChoosableSet.choose() 方法可能返回失效的注册信息"
向重启后的节点发送eventbus消息时，可能得到重启前的已经过期的 ServerID。
在调用 ChoosableSet 类的 add 、remove 、merge 三个方法后都应该将 iter 设置为 null。

**io.vertx.spi.cluster.zookeeper.impl.ChoosableSet:**

`public void add(T elem) {`
`    ids.add(elem);`
_**`    iter = null;`**_
` }`

`public void remove(T elem) {`
`    ids.remove(elem);`
_**`    iter = null;`**_
` }`

`public void merge(ChoosableSet<T> toMerge) {`
`    ids.addAll(toMerg

[2019-05-23 14:14] HY3798 commented on #73
May I know how did you resolve this issue I am getting
KeeperErrorCode = NoNode for /io.vertex/syncMap/__vertx.haInfo

[2019-06-12 10:51] neterium opened #82 "Unexpected client session timed out"
I'm using version 3.6.3, with zookeeper as cluster manager.
I've started putting some pressure on our servers by increasing the workload. In terms of response time, everything is OK, the eventbus seems to absorb the trafic, no "Thread Blocked" event, etc... (The number of verticles is #cores - 1)
However, after a while it looks like the connection the ZK is lost:

[code]

How can I prevent this fr

[2019-06-12 13:40] neterium commented on #82
Looks like it comes from a "stop the world" major GC at this time. I can finetune the GC settings, but is there a way to increase the session timeout?

[2019-06-12 14:08] stream1984 commented on #82
Hi

You can set session timeout in zk server by change parameter tick.

tickTime
the length of a single tick, which is the basic time unit used by ZooKeeper, as measured in milliseconds. It is used to regulate heartbeats, and timeouts. For example, the minimum session timeout will be two ticks.

---------------

Stream Liu
stream1984@me.com

[2019-06-19 17:57] felix-laofan opened #83 "zookeeper cluster"
now .I see,when my use zookeeper in Vertx,it is use only one zookerper node,when my zookeeper is a cluster .it is has 3 or more node,how can i use .

[2019-06-20 10:09] felix-laofan commented on #83
Does anyone has same program?

[2019-06-26 05:19] felix-laofan opened #84 "org.apache.zookeeper.KeeperException$NoNodeException: KeeperErrorCode = NoNode for /io.vertx/syncMap/role_1071716/centerServerId"
io.vertx.core.VertxException: io.vertx.core.VertxException: org.apache.zookeeper.KeeperException$NoNodeException: KeeperErrorCode = NoNode for /io.vertx/syncMap/role_1071716/centerServerId
        at io.vertx.spi.cluster.zookeeper.impl.ZKSyncMap.put(ZKSyncMap.java:114)
        at coolGame.hall.tcp.login.HallLoginMsgReqHandler.reCallGateway(HallLoginMsgReqHandler.java:595)
        at coolGame.hall.

[2019-06-26 05:20] felix-laofan commented on #84
my code is this;
Map<Object, Object> roleMap = ZVertClusterManager.getInstance().getMgr()
					.getSyncMap(CoolGameMapKey.Role_Map_Key.getKey(role.getRid()));
			roleMap.put(VertShareMapKey.roleId, role.getRid());
			roleMap.put(VertShareMapKey.sessionId, message.getSessionId());
			int serverId = Config.getInt(Config.MY_SERVER_ID_KEY);
			int groupId = Config.getInt(Config.GROUP_ID);
			LogUtil.i

[2019-06-26 05:21] felix-laofan commented on #84
when run on the "roleMap.put(VertShareMapKey.centerGroupId, groupId);"      Exception

[2019-06-26 07:40] stream1984 commented on #84
Hi

SyncMap is not recommend in your business, AsyncMap is good for your.

BTW, that would be good to provide POC.

PS: I notice you are in China, so you could make connection with me (stream1984@me.com) in Chinese.

---------------

Stream Liu
stream1984@me.com

[2019-06-26 07:47] stream1984 commented on #84
Need more completed code to confirm when Vertx Cluster been started.

---------------

Stream Liu
stream1984@me.com

[2019-06-29 13:04] felix-laofan opened #86 "JavaThread "Curator-PathChildrenCache-5719" daemon [_thread_blocked,"
[hs_err_pid35537.log](https://github.com/vert-x3/vertx-zookeeper/files/3341886/hs_err_pid35537.log)
use one day on line ,JVM error.   crazy!!!!!!!

[2019-06-30 14:30] stream1984 commented on #86
Hi
thread blocked is consequence but not cause.
please check the cause of OOM by jstack or JVM head dump.

[2019-07-01 15:31] #86 closed

[2019-07-01 15:31] #83 closed

[2019-07-17 16:56] radai-rosenblatt opened #87 "exception on shutdown of a clustered vertx instance"
im constructing a simple zookeper-backed clustered vertx, like so:
[code]
seems to work fine, but when i shut it down, i get this:
[code]

[2019-07-18 02:44] stream1984 commented on #87
Hi radai
That is a flaw on vertx-zookeeper, i did not check Curator Client State while Curator have closed with zookeeper, and i have no way to tell the Vertx that Client is break with Server.
I will try to fix such flaw in Vertx4 by checking state of Curator.

[2019-07-25 20:25] radai-rosenblatt commented on #87
@stream1984 - are there builds of vertx-zk 4.* that i can try somewhere? also (in my opinion) curator's dependency on unreleased "beta" versions of ZK makes it unfit for production use - have you considered using the "raw" zk client ?

[2019-07-26 02:58] stream1984 commented on #87
@radai-rosenblatt
you can try to update version `<curator.version>2.12.0</curator.version>` in your branch, and i will also upgrade curator to the 4.x in next month with Vert.x4.
You could exclude version of ZK-beta and include ZK-3.5.5 in your pom.
well, using raw zk-client would make more code for some trivia code, i have no enough time to do that, maybe you could provide some help :)

[2019-07-27 00:48] radai-rosenblatt commented on #87
latest curator "scares" me because my workplace doesnt run zk 3.5 in production - i dont know of any org that does. they claim to be runtime compatible with 3.4, but ....

[2019-09-13 12:56] nabhosal commented on #60
@stream1984 , We do agree its not a good idea to take nodeID from users. But, consider a deployment having a large number of service running then it becomes difficult for dev-ops to track which service is down even though we use zk watcher since UUID are non-intuitive.
We faced this issue in initial days, and we resolve by creating unique intuitive nodeIds.
Refer this fork, we are using this in ou

[2019-09-13 12:59] nabhosal commented on #57
Copy pasted from [issue 60](https://github.com/vert-x3/vertx-zookeeper/issues/60)
@stream1984 , We do agree its not a good idea to take nodeID from users. But, consider a deployment having a large number of service running then it becomes difficult for dev-ops to track which service is down even though we use zk watcher since UUID are non-intuitive.
We faced this issue in initial days, and we reso

[2019-09-26 02:55] NavidMitchell opened #88 "Problem when subscribing to event bus destination that contians // in it."
I am trying to create an event bus subscription with a destination
"srv://com.xx.xxx.gateway.services.IDataService"

Which fails with the following error
`java.lang.IllegalArgumentException: Invalid path string "/asyncMultiMap/__vertx.subs/srv://com.xx.xxx.gateway.services.IDataService/15692f3d-d659-4aae-90bf-084c0581ccac:172.31.99.215:61904" caused by empty node name specified @33`

This looks li

[2019-09-26 12:00] stream1984 commented on #88
Hi
I prefer compose `srv://` in code instead of save it into zk path.

[2019-10-08 00:34] NavidMitchell commented on #88
Ok, thank you for your fast response.

[2019-10-08 00:34] #88 closed

[2020-01-19 07:28] Viking18 commented on #82
I'm confused about the zk disconnect problem in my own project. why do you think it comes from major GC?  can a "stop the world" major GC  last for 29528ms ?

appreciate for your comply:)

[2020-01-24 10:54] jonheg opened #89 "Support Zookeeper 3.5.x"
### Version

Which version(s) did you encounter this bug ?

All versions.

### Context

Vertx Zookeeper Clustermanager should support 3.5.x of Zookeeper Ensemble.
Curator 4.0 is supporting both 3.4.x and 3.5.x : https://curator.apache.org/zk-compatibility.html

### Do you have a reproducer?
### Steps to reproduce
### Extra

[2020-01-25 06:27] stream-iori commented on #89
Hi

I am thinking upgrade to 3.5.x of ZK with Vert.x 4

[2020-01-28 03:58] stream-iori commented on #89
see [#90]

[2020-01-28 03:58] #89 closed

[2020-04-01 04:38] yaoligang opened #95 "Missing guava lib caused NoClassDefFoundError in 3.9.0"
### Issue

I just upgraded vertx-zookeeper to 3.9.0 and found the following errors when launching my verticles:
[code]

The issue is resolved after I manually added guava lib. I do not know why guava was moved to test scope in 3.9.0 but it caused issue now.

### Version
3.9.0

[2020-04-01 06:36] vietj commented on #95
looks like a regression we did.

you should add it manually in the meantime.

Julien

[2020-04-01 07:05] #95 closed

[2020-04-05 15:19] #61 closed

[2020-04-22 16:28] radai-rosenblatt opened #96 "NullPointerException in ZKAsyncMultiMa on shutdown of a cluster memeber node"
im running an integration test where i spin up embedded ZK and 2 clustered vertx instances.
at the end of the test i shut them both down.

on shutdown i get the following exception:

[code]

i think this happens on the still-alive vertx instance when the 1st instance shuts down.

the actual null is in `treeCache.getCurrentChildren(keyPath)` in ZKAsyncMultiMap.removeAllMatching():

[code]

keypath

[2020-05-15 10:47] ijl20 commented on #63
In all the years we've been running vertx, first with Hazelcast and now with Zookeeper, this failure to connect to a running cluster unless you have the exact same minor version of vertx-hazelcast or vertx-zookeeper as every other verticle in the entire distributed system has been *the* major pain in the ass and IMHO an odd design choice. We heavily use eventbus message passing between verticles b

[2020-05-29 15:46] tsegismont commented on #64
Fixed by #90

[2020-05-29 15:46] #64 closed

[2020-05-29 15:48] #72 closed

[2020-06-18 16:34] naveenjeeri commented on #73
what's the resolution for this, even though I am on vertex 3.8.5 I am still seeing this issue.

[2020-06-20 14:33] melaraj2 commented on #63
I have the same version across the entire cluster, but this issue occurs when I redeploy one of the members.  So far the only way to resolve it is to redeploy every node in the cluster.  I am currently on version 3.9.1.

Is there anyone looking into this issue.  I agree with ijl20.  this is a severe problem, and like his system, we are only using clustering for event bus message passing.

[2020-06-20 16:41] stream-iori commented on #63
This exception should have been swallow and make a WARNING to log.
I am workng on vertx4-zookeeper, and this exception should convert to warning log

[2020-06-21 03:17] melaraj2 commented on #63
The problem is not just the exception, in my case I have a JVM instance that calls eventBus.request to an address being consumed by a set of JVMs, when I restart the consumers, the requests to that address fail with timeout exceptions.  It appears that the only way to resolve it is by also restarting the requester JVMs.  In my case, it is a normal course of business to update the consumers in the

[2020-06-21 03:44] melaraj2 commented on #63
the sending Vertx instances continue to attempt to send the request to the old IP address that went away.  This is permanent, there is no recovery unless I restart the sender.

[2020-06-21 10:05] vietj commented on #63
can you provide a reproducer ?

On Sun, Jun 21, 2020 at 5:17 AM Manuel Elaraj <notifications@github.com>
wrote:

[2020-07-07 02:03] doctorpangloss opened #99 "removeIfPresent incorrectly implemented"
### Version

`vertx-zookeeper:3.9.1`

### Context

https://github.com/vert-x3/vertx-zookeeper/blob/fdd14dcc2855091df15fbb11bc265fbd425fd71d/src/main/java/io/vertx/spi/cluster/zookeeper/impl/ZKAsyncMap.java#L142

Observe `value` is sometimes `null`. `Should be Objects.equals`.

### Do you have a reproducer?

Simply call `removeIfPresent` on a key that doesn't exist.

[2020-07-07 02:29] doctorpangloss opened #100 "Using map key paths with forward slashes (`/` character) returns empty childData"
### Version

`vertx-hazelcast:3.9.1`

### Context

https://github.com/vert-x3/vertx-zookeeper/blob/fdd14dcc2855091df15fbb11bc265fbd425fd71d/src/main/java/io/vertx/spi/cluster/zookeeper/impl/ZKAsyncMultiMap.java#L259

Observe that if the user supplies a map key that contains forward slashes, empty data will be returned from Zookeeper due to this `split`.

### Do you have a reproducer?

Simply creat

[2020-07-07 15:56] tsegismont commented on #99
Fixed in d87aec2

[2020-07-07 15:56] #99 closed

[2020-07-11 03:14] srinskit opened #101 "vertx-zookeeper doesn't gracefully disconnect from zookeeper server"
### Version
Vertx and everything else vertx: 3.9.1
Zookeeper server: Checked with 3.4 and 3.6

### Context
When the vertx instance using vertx-zookeeper exits, a socket exception is thrown at the zookeeper server. The server maintains the records from that instance till the session times out. This causes other vertx instances to attempt to connect to dead services.

### Reproducer
A calculator app

[2020-07-12 01:36] stream-iori commented on #100
Emm..

We can replace forward slash which in input with empty string from vertx-zookeeper, but can not replace it from other input, such as zkCli.sh
I will make PR to fix it.

[2020-07-12 03:30] doctorpangloss commented on #100
One possibility is to throw an `IllegalArgumentException` that is implementation specific, so that at least people don't get an extremely cryptic crash (it right now fails to deserialize an empty object)

[2020-07-12 04:31] stream-iori commented on #101
Hi

The repo in Reproducer 404.

[2020-07-12 04:39] srinskit commented on #101
Sorry. Made it public.

[2020-07-12 05:08] srinskit commented on #101
Shouldn't [leave](https://github.com/vert-x3/vertx-zookeeper/blob/e46f127fec769c2ef885446e384061e4e600b841/src/main/java/io/vertx/spi/cluster/zookeeper/ZookeeperClusterManager.java#L356) result in an instant session termination?

[2020-07-12 16:02] stream-iori commented on #101
In fact, Ctrl + C will make a signal that can not invoke `vertx.close()` directly, you should have `Runtime.getRuntime().addShutdownHook` to catch such signal, and then invoke vertx.close()
I have try to do this, but still blocked by something, I will look into this in one or two weeks.

[2020-07-12 16:12] srinskit commented on #101
A similar setup but with` vertx-hazelcast` + `zookeeper` appears to handle this well. On exit, relevant hazelcast znodes are instantly removed from zookeeper. I have this reproducer in the [hazel_zoo_cluster](https://github.com/srinskit/redesigned-enigma/tree/hazel_zoo_cluster) branch if you would like to check it out.

[2020-07-12 16:15] srinskit commented on #101
Can this be temporarily fixed with any configuration of the Curator or Zookeeper? (Other than reducing the session time)

[2020-09-16 03:22] jr981008 opened #104 "When will the new version of zkcluster be released?"
I am concerned that the cursorframework uses version 4.2. This library has conflicts in the project. The new version of zkcluster will solve this problem.

[2020-09-16 09:52] vietj commented on #104
in which project are there conflicts with ?

On Wed, Sep 16, 2020 at 5:22 AM jr981008 <notifications@github.com> wrote:

[2020-09-16 10:44] jr981008 commented on #104
thanks your reply
in my own project, must use curatorframework 4.x, but the latest release vertx-zookeepr uses 2.x, there is an irreconcilable error, is it feasible to try to solve this problem with cumulative classloader? For example, like spring bootloader , because of security restrictions, I cannot use osgi

[2020-09-21 07:26] #104 closed

[2020-09-21 07:26] jr981008 commented on #104
i solve it use custome classloader.

[2020-09-21 07:29] jr981008 opened #105 "When zookeeper recovers from the interruption， How can I ensure that vertxcluster remains robust？"
When zookeeper recovers from the interruption, vertx throws an exception. Do I need to switch again? Is the previously registered bus still valid? How can I ensure that vertxcluster remains available in the event of zookeeper interruption and recovery?
i set curtor retry forevery to make sure connect  zookeeper when its alive，but
vertxcluster seems  cant recover from a zookeeper  collapse

[2020-11-27 08:03] blindpirate opened #107 "vertx-zookeeper 4.0.0Beta/CR is not released"
![image](https://user-images.githubusercontent.com/12689835/100425365-075d1580-30ca-11eb-85a1-3e5758d124f4.png)

Is this intentional?

[2020-11-27 09:04] vietj commented on #107
it has not been yet released because it is not finished.

@stream-iori what is the status ?

[2020-11-28 08:04] blindpirate commented on #107
@vietj I DMed @stream-iori , he said everything has been done for 4.0.0 and `master` is releaseable.

@tsegismont Can we release a `4.0.0` RC ?

[2020-11-28 08:09] vietj commented on #107
@blindpirate I missed that, I think first we should add continuous integration for this then

[2020-11-28 08:10] vietj commented on #107
I created a PR with the GitHub action CI : https://github.com/vert-x3/vertx-zookeeper/pull/108

[2020-11-28 12:17] vietj commented on #107
there is currently one failure in the tests

https://github.com/vert-x3/vertx-zookeeper/runs/1466777157?check_suite_focus=true

does it ring a bell to anyone @stream-iori @tsegismont ?

any other can chime in and help :-)

[2020-11-30 01:23] blindpirate commented on #107
@vietj I fixed that issue by https://github.com/vert-x3/vertx-zookeeper/pull/109

However, there seems still an issue in `ZKClusteredHATest.after()`, which is quite flaky on my local computer. Maybe we can merge #108 first to help catch all future failures?

[2020-11-30 13:54] tsegismont commented on #107
@vietj the failing test is the test I added recently related to clustered consumer unregistration.

It seems #109 would fix it indeed (thanks @blindpirate )

[2020-12-03 08:37] tsegismont commented on #65
Outdated

[2020-12-03 08:37] #65 closed

[2020-12-03 09:07] tsegismont opened #110 "Update the 4.0 deprecation and breaking changes wiki page"
https://github.com/vert-x3/wiki/wiki/4.0.0-Deprecations-and-breaking-changes

There are sections for the other cluster managers already.

[2020-12-03 09:18] tsegismont commented on #110
@stream-iori can you please take care of this?

We'd like to release 4.0 next week. So if you can't do it by then, please come back to us. Thank you

[2020-12-06 15:31] #107 closed

[2020-12-06 15:36] vietj opened #111 "MessageConsumer completion handler called before consumer is fully registered"
Some tests relying on the clustered event bus registration propagation can fail when sending a message because the handler is not yet registered on another member of the cluster.

e.g `ClusteredEventBusTest#testWriteHandler` can fail after a few repeats (2 or 3) with

[code]

[code]

[2020-12-07 09:02] tsegismont commented on #111
@vietj I should be able to make this test more robust for all cluster managers. But should we block the release for this? I saw you put this in the `4.0.0` milestone.

[2020-12-07 14:38] vietj commented on #111
no this is not blocking, this is only annoying for testing a release

On Mon, Dec 7, 2020 at 10:02 AM Thomas Segismont <notifications@github.com>
wrote:

[2020-12-16 09:52] #111 closed

[2021-01-05 13:47] tsegismont commented on #74
Outdated

[2021-01-05 13:47] #74 closed

[2021-01-19 08:08] jinke007 commented on #69
I also encountered the same problem, maybe we can talk, I have an idea, but some problems encountered in implementation have not been resolved

[2021-01-19 08:14] jinke007 commented on #60
After zk is disconnected, the cluster node needs to be re-registered, but the nodeId in this join method is generated using UUID, so there is no way to re-register to zk

[2021-03-15 01:23] sunqb opened #112 "doucument error about Zookeeper version"
### Questions

document error about Zookeeper version .and detail is:

link:  https://vertx.io/docs/vertx-zookeeper/java/#_about_zookeeper_version
text:
About Zookeeper version
We use Curator 4.3.0, as Zookeeper latest stable is 3.4.8 so we do not support any features of 3.5.x

### Version

4.0.2

### Context

when i use zookeeper server 3.4.6，and i use vertx-zookeeper 4.0.2 . it report some error

[2021-03-15 07:17] sunqb commented on #112
@stream-iori i have send an email to you , May reply to email

[2021-03-31 08:53] pmlopes opened #115 "Broken TCK test"
Currently CI is failing due to a "TCK" test that never completes.

I've disable the test for now:

https://github.com/vert-x3/vertx-zookeeper/commit/02cfdbd3dfec0cb2db8b9cebf51494acc6ad7d69#diff-d6640b3a82a3c8a932e251dd24d1bd07410a7d57f141af58e690dbeb984f27c9

As in the disable comment, it seems that the zookeeper behavior is not showing the expectation:

1. get the async map: foo
2. store the val

[2021-03-31 09:04] pmlopes commented on #115
Apparently on CI due to the constrained environment the same is happening on the session store test with retry.

[2021-04-07 05:12] elventear opened #117 "Local subscription topics are published on the Cluster Manager"
### Version

4.0.3

### Context

Migrating socket application from stand alone to cluster mode using Zookeper. I have noticed that all socket write IDs are being published to the cluster, which seemed suspicious and possible scalability problem for very busy network applications.

### Steps to reproduce

1. Start application in clustered mode with Zookeper.
2. Create local consumer event handler w

[2021-05-18 18:27] elventear commented on #117
Fixed in #118.

[2021-05-18 18:27] #117 closed

[2021-06-03 09:16] #110 closed

[2021-06-23 13:26] tsegismont commented on #115
This is a limitation of the `AsyncMap` emulation on top of Zookeeper.

[2021-06-23 13:26] #115 closed

[2021-08-30 08:57] Hudiebbk opened #119 "Whether the authorization mode is supported"
Whether the authorization mode is supported

[2021-08-30 12:42] vietj commented on #119
can you elaborate ?

[2021-10-15 13:00] neterium opened #120 "java.util.ConcurrentModificationException when creating localConsumer"
### Version

4.1.5 (or 4.1.+)

### Context

Vertx is created with a Zookeeper Cluster manager, ZK 3.5 running locally.
If a create a set of verticles in which I setup a localConsumer in the start() method, I nearly always endup with a hidden exception:

`
java.util.ConcurrentModificationException
	at java.util.LinkedHashMap$LinkedHashIterator.nextNode(LinkedHashMap.java:719)
	at java.util.LinkedHa

[2021-10-15 13:01] neterium-dev opened #121 "NullPointerException in ZKMap"
### Version

4.0.3

### Context

In development, when nodes of the (Zookeeper) cluster are started and stopped often, we randomly receive this exception:

`java.lang.NullPointerException
	at io.vertx.spi.cluster.zookeeper.impl.ZKMap.keyPath(ZKMap.java:70)
	at io.vertx.spi.cluster.zookeeper.impl.ZKSyncMap.get(ZKSyncMap.java:98)
	at io.vertx.spi.cluster.zookeeper.impl.ZKSyncMap.lambda$entrySet$5(ZKS

[2021-11-16 16:40] neterium opened #122 "Cleanup the __vertx.subs node"
#### Describe the feature

We have a cluster which is autoscaling up and down with hundreds of nodes. We noticed that zookeeper can sometimes go crazy and consumes GBs of ram (we do not have many consumers per node). We noticed that the "__vertx.subs" internal node in ZK contains lots of "__vertx.net" subnodes, which are added when a new node pops up and left there for ever. Can't this be very mem

[2021-11-26 10:08] jitawangzi commented on #122
Try vertx-core with the latest version. It is a bug in the event bus, and   __vertx.net need clear  manually .

[2022-01-07 13:56] neterium commented on #120
The fix has been pushed back to a next version for the 3rd time, any reason for this ?
Do you have any known workaround ? We are stick to version 4.0 because localConsumers are not reliable anymore...
Many thanks again for your support!

[2022-01-10 13:51] vietj commented on #120
@tsegismont does it ring a bell ?

[2022-01-26 15:57] neterium commented on #120
I managed to reproduce and fix the issue with, for example, 100 verticle (don't forget that the enclosed sample project has 1 by default). I patched the put method in the SubsMapHelper.java file and added a synchronized block like this :

[code]

Can you please merge this into your next build ?

Thank you,

Thomas

[2022-02-18 08:44] neterium commented on #120
Really appreciate your hard work on this project, but is it possible to have some views on the release of this fix? The provided code sample above should be enough. I don't know why it has been pushed back again from the last version :(.

[2022-03-02 16:33] neterium opened #124 "Migrate to recent curator"
Hi,

Our vulnerability scans indicates that there is a vulnerability with the apache zookeeper 3.5.9 :

https://nvd.nist.gov/vuln/detail/CVE-2021-21295

Maybe it would be wise to migrate to a newer version of apache curator ? This will also align your netty dependency with recent builds...

Regards,
Thomas

[2022-03-03 07:14] vietj commented on #124
agreed

[2022-03-09 17:09] tsegismont commented on #120
@neterium would you mind trying the fix that's in #125 ?

[2022-03-10 11:54] neterium commented on #120
Just tried. Problem solved.

[2022-03-10 15:52] #120 closed

[2022-04-05 10:10] Igor-Polatajko opened #127 "EventBus addresses registration in the cluster are not immediately visible by other nodes"
Hello

We are using Zookeeper (from AWS MSK) as a cluster manager for Vert.x.
In our case, we rely a lot on immediate cluster consistency, while registering new addresses in the cluster, but `vertx-zookeeper` or `Zookeeper` itself seems not to provide the required consistency.

Scenario, in which we observe the issue:

1. `Client node` want to talk to `consumer-1`
2. `consumer-1` address is not re

[2022-04-28 15:49] tsegismont opened #128 "Zookeeper nodes accumulating as net connections are created/closed"
### Questions

I use websocket through vertx and enable the cluster (zookeeper). I noticed that when a websocket connection is created, an address will be generated and registered to the zookeeper. When the registration is cancelled, only the data in the address will be cleared, not clear the address, causing the zookeeper node to increase indefinitely,Many nodes like this:

__vertx.net.fe071115-9

[2022-04-28 15:50] tsegismont commented on #128
Originally reported by @jitawangzi

[2022-08-15 18:25] yifangl opened #129 "Zk-based AsyncMap get() call fails silently"
### Questions

The get() method of the AsyncMap used in our app sometimes just times out without going into the callback handler. As a result we are not able to handle it in the callback handler. It looks like a silent failure and the get() call just hangs until the vertx times out.

### Version

Current version under use is 3.9.13

### Context

Our code is using the Zk-based AsyncMap as follow:

[2022-10-27 20:41] dtwitty commented on #110
Any update on this? Is there anything one should know when migrating a ZK-backed cluster from 3 to 4?